{% extends 'base.html.twig' %}

{% block title %}Outils - Gestion des stocks{% endblock %}

{% block body %}
    <h1>Affichage des stocks</h1>

    <ul class="mdc-list">
        <li class="mdc-list-item mdc-list-item--disabled">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__text">
                <a href="{{ path('app.tools.trading_post.stocks.miner.get') }}">Minerais</a>
            </span>
        </li>
        <li class="mdc-list-item mdc-list-item--disabled">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__text">
                <a href="{{ path('app.tools.trading_post.stocks.logger.get') }}">Rondins de bois</a>
            </span>
        </li>
        <li class="mdc-list-item mdc-list-item--disabled">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__text">
                <a href="{{ path('app.tools.trading_post.stocks.hunter.get') }}">Trophées de chasse</a>
            </span>
        </li>
    </ul>
{% endblock %}
