{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Outillage de Dùralas</h1>

    <section class="mdc-layout-grid__inner">
        <article class="mdc-layout-grid__cell">
            <h2>Liste des outils disponibles</h2>
            <ul class="mdc-list">
                <li class="mdc-list-item mdc-list-item--disabled">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text"><a href="{{ path('tools_collecting_report') }}">Rapport de récolte</a></span>
                </li>
                <li class="mdc-list-item mdc-list-item--disabled">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text"><a href="{{ path('tools_manufacturing_report') }}">Rapport de fabrication</a></span>
                </li>
            </ul>
        </article>

        <article class="mdc-layout-grid__cell">
            <h2>À venir...</h2>
            <ul class="mdc-list">
                <li class="mdc-list-item mdc-list-item--disabled">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text">Rapport de distillation (alchimie)</span>
                </li>
                <li class="mdc-list-item mdc-list-item--disabled">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text">Récapitulatif des transactions d'une boutique</span>
                </li>
            </ul>
        </article>
    </section>
{% endblock %}
